.header_title{
    color: #414141; margin-left:11px; padding-bottom: 11px; font-size:15px;
   }
.icon_image{
     font-size: 15px; color: #414141; margin-top: 11px;
   }
.mis_form_images{
     border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
   }
.h1-large{
     color: #0092FF; 
   }
.images_details{
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.images_details2{
    border-radius: 70% 40% 40% 70%/70% 70% 40% 40%;
}